.Inspector {
  width: var(--width-inspector);
  position: fixed;
  right: 0;
  top: var(--height-header);
  bottom: 0;
  background-color: var(--color-background);
  border-left: 1px solid var(--color-border);
  overflow: auto;
}

.Action {
  height: 2em;
  line-height: 2em;
  background-color: var(--color-item-background);
  padding: 0 1em;
  display: flex;
}

.Action + .Action {
  margin-top: 0.5em;
}

.ActionAction {
  cursor: pointer;
}
